*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-weight: bold;
    font-size: 20px;
}
.content{
    display: flex;
    align-items: center; /* يوضع المحتوى في الوسط العمودي */
    justify-content: center; /* يوضع المحتوى في الوسط الأفقي */
    height: 100vh; 
}
.container {
    width: 50%; /* تعيين عرض العنصر الداخلي (المحتوى) */
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
  }
  span{
    color:white
  }
table{
    cursor: pointer;
  }
  td{
    width: 50px;
    height: 50px;
    border: 0px solid #ccc;
    padding: 10px;
    text-align: center;
  }
#bg-info{
    width: 50px;
}
  
